/*========= 波線 ==========*/
#waveCanvas {
  display: block;
  width: 100%;
  height: 20vh;
  margin: 0 auto;
}

/*========= 横揺れ ==========*/

.ShakeAnimation {
  animation: shakingAnime 1.5s ease-in-out infinite alternate;
}

.shaking {
  transform: rotate(2deg);
  animation: shakingAnime 5s infinite alternate;

  @keyframes shakingAnime {
    50% {
      transform: rotate(-2deg);
    }

    100% {
      transform: rotate(2deg);
    }
  }
}

/*========= タイピング ===============*/
.parent_typing {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .5em;
  word-break: break-all;
  letter-spacing: .5em;
}

.text_typing::after {
  content: "|";
  animation: typingAnime .6s ease infinite;
}

@keyframes typingAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*========= フェード系統 ==========*/

.fadeIn {
  animation: fadeInAnime 2s forwards;
  opacity: 0;

  @keyframes fadeInAnime {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

.fadeUp {
  animation: fadeUpAnime 0.5s forwards;
  opacity: 0;

  @keyframes fadeUpAnime {
    from {
      opacity: 0;
      transform: translateY(100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.fadeDown {
  animation: fadeDownAnime 0.5s forwards;
  opacity: 0;

  @keyframes fadeDownAnime {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.fadeRight {
  animation: fadeRightAnime 0.5s forwards;
  opacity: 0;

  @keyframes fadeRightAnime {
    from {
      opacity: 0;
      transform: translateX(100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.fadeLeft {
  animation: fadeLeftAnime 0.5s forwards;
  opacity: 0;

  @keyframes fadeLeftAnime {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

/*========== 回転 ==========*/

.parent_rotation:hover .rotation {
  transform: rotateZ(360deg);
}

.rotation {
  transition: .5s;
  transform: rotateZ(0deg);
}

/*========== スライド ==========*/

.slide_in_right {
  animation: slideInRight 0.5s forwards;

  @keyframes slideInRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

.slide_out_left {
  animation: slideOutLeft 0.5s forwards;

  @keyframes slideOutLeft {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}

.slide_in_left {
  animation: slideInLeft 0.5s forwards;

  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
}

.slide_out_right {
  animation: slideOutRight 0.5s forwards;

  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}
