.l-home_page_area {
  position: relative;
  width: 100%;
  z-index: 1;
  height: 100%;
}

.l-title_area {
  width: 100%;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: hidden;
  color: #4E4E4E;
  font-size: 90px;
}

.title span {
  display: block;
  transform: translate(0, 105%);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  font-family: "Zen Kurenaido", sans-serif;
}

.title.-visible span {
  transform: translate(0, 0);
}

.title span:nth-child(2) {
  transition-delay: 0.06s;
}

.title span:nth-child(3) {
  transition-delay: 0.12s;
}

.title span:nth-child(4) {
  transition-delay: 0.18s;
}

.title span:nth-child(5) {
  transition-delay: 0.24s;
}

.l-nav_area {
  border-top: 1px solid black;
  width: 100%;
  height: 8vh;
}

nav ul {
  display: table;
  margin: 0 auto;
  padding: 0;
  width: 80%;
  text-align: center;
}

nav li {
  display: table-cell;
  min-width: 50px;
  border: #555 1px solid;
  border-top: none;
  font-size: 18px;
}

nav a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding-bottom: 5px;
}

nav a:hover {
  color: #D35400;
}

nav li.current {
  border-bottom: 3px solid #D35400;
}

nav li:hover {
  color: #D35400;
}

.l-enhancement_section {
  display: flex;
  height: 70vh;
}

.l-recommend_post_area {
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  height: 100%;
  margin: 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.rec_post_content {
  width: 45%;
  margin: auto;
  text-align: center;
}

.rec_title {
  text-decoration: none;
  color: #4E4E4E;
}

.rec_img {
  width: 85%;
  height: 250px;
}

.l-menu_area {
  /* border: 1px solid red; */
  border-radius: 5px;
  width: 20%;
  height: 100%;
  margin-left: 15px;
}

.l-search_area {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  height: 30%;
  margin-bottom: 30px;
}

.banner_img {
  width: 100%;
}

.animation{
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
}

.keyframe3{
  animation-name: anim_s;
  transform: rotate(2deg);
  animation-duration: 5s;
}

@keyframes anim_s {
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}

.l-message_area {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
